@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */
@import "tailwindcss";

* {
  font-family: "Jost", serif;
}

.sideLink {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}
